$background: #05292E;
$background_alt: #0C3935;
$green_dark: #235744;
$green: #47835D;
$green_light: #61A375;
$accent: #C8E690;
$text: #D4E994;

window.Bar {
  background: $background;
  font-size: 14px;

  .Date > button {
    background: transparent;
    border: none;
    color: $accent;
    font-weight: bold;
  }

  .Date > .day.marked {
    background: red;
  }


  .Date > popover > contents {
     background: $background_alt;
     border: none;
     outline: none;
     box-shadow: none;
     padding: 0;
   }
  .Date label {
    font-variant-numeric: tabular-nums;
}

  .BatteryBox {
    margin-right: 16px;
  }

  .BatteryBar {
    padding: 1px;
    border-radius: 2px;
    border: 1px solid $accent;
  }

  .BatteryLine {
    min-width: 8px;
    min-height: 2px;
    background: $accent;
    margin-top: 1px;
  }

  .BatteryText {
    margin-left: 4px;
    color: $accent;
    font-weight: bold;
  }
}


calendar {
  background: $background_alt;
  color: $text;
  border: none;
}

calendar grid .today {
  background: $accent;
  color: $background;
}

calendar header {
  background: $green_dark;
  color: $accent;
}

calendar button {
  background: transparent;
  color: $accent;
  border: none;
}

calendar button:hover {
  background: $green;
}

calendar:selected {
  background: $accent;
  color: $background;
}
